<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		version="3.0"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" >
		<display-name>PagCliente</display-name>
		<servlet>
			<servlet-name>PagCliente</servlet-name>
			<servlet-class>casa.chiusa.godo.PagCliente</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>PagCliente</servlet-name>
			<url-pattern>/PagCliente</url-pattern>
		</servlet-mapping>
		</web-app>